.chart {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    max-width: 500px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.chart h3 {
    margin-bottom: 20px;
    color: #098393;
    text-align: center;
}

canvas {
    display: block;
    margin: auto;
}

.stat-box h5 {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}

.stat-box h3 {
    font-size: 2rem;
    font-weight: 600;
}

/* ====== Alerts Section ====== */
#alertsList {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
